/* purgecss start ignore */
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600|Open+Sans&display=swap");
@tailwind base;

html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
  @apply font-semibold;
}
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a,
button:focus {
  outline: none;
}

.content-section {
  @apply flex;
  @apply flex-col;
  @apply mx-auto;
  @apply pt-20;
  @apply pb-24;
}
.outline-button {
  width: max-content;
  @apply bg-transparent;
  @apply font-semibold;
  @apply py-2;
  @apply px-4;
  @apply border;
  @apply cursor-pointer;
}

.transition-easing {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hex-wrapper {
  @apply inline-block;
  @apply w-24;
  @apply h-24;
  @apply relative;
  @apply text-center;
  transform: rotateZ(30deg);
}
.hex-wrapper.small {
  @apply w-16;
  @apply h-16;
}
.hexagon {
  @apply bg-teal-300;
  @apply inline-flex;
  @apply h-full;
  width: calc(100% * 0.57735);
  @apply justify-center;
}
.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  @apply absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  @apply top-0;
  transform: rotateZ(60deg);
  width: inherit;
}
.hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  @apply absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  @apply top-0;
  transform: rotateZ(-60deg);
  width: inherit;
}
.hexagon-icon {
  fill: #fff;
  @apply self-center;
  z-index: 1;
  transform: rotateZ(-30deg);
  @apply w-12;
  @apply h-12;
}
.hexagon-image {
  @apply self-center;
  @apply w-full;
  z-index: 1;
  transform: rotateZ(-30deg);
}

.card-github-link {
  fill: #111129;
}
.card-github-link:hover {
  fill: #593c8f;
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
